@import "../../app/color.scss";

@keyframes appearProject {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.app-project-article {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  box-shadow: 0px 0em 5px 0em;
  border-radius: 0.5em;

  overflow: hidden;
  justify-self: center;

  transition: transform 0.5s ease;
  animation: appearProject 0.75s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .app-project-article-preview-container {
    border-radius: 0.25em;
    overflow: hidden;
    width: 90%;
    margin: 1em auto;
    margin-bottom: 0;
    height: 200px;
    box-shadow: 0 0 5px 1px;
    object-fit: cover;
    object-position: center;
    .app-project-article-preview {
      max-width: 400px;
      min-height: 100%;
    }
  }
  .app-project-article-information {
    padding: 1em;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .app-project-article-information-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      margin-bottom: 1em;
      gap: 1em;
      .app-project-article-title {
        width: 100%;
        text-align: start;

        font-size: 23px;
        font-style: italic;
        text-align: center;
        margin: 0;
      }
    }
    .app-project-article-link-text {
      font-style: italic;
      display: flex;
      justify-content: center;
      font-weight: bold;

      .app-project-article-link {
        position: relative;
        border-radius: 0.25em;
        padding: 0.2em 1em;
        box-shadow: 0 0 5px 1px;
        font-size: 20px;
        margin-bottom: auto;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .app-project-article-description {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .app-project-article-programming-language-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.75em 1em;
      .app-project-article-programming-language-item {
        font-weight: bold;
        border-radius: 0.25em;
        padding: 0.15em 1em;
        &.javascript {
          background: #f0db4f;
          color: #323330;
        }
        &.html {
          background: linear-gradient(90deg, #e34c26 55%, #f06529 55%);
          color: #ffffff;
        }
        &.css {
          background: linear-gradient(90deg, #264de4 55%, #2965f1 55%);
          color: #ffffff;
        }
        &.scss {
          background: #cc6699;
          color: #ffffff;
        }
        &.react {
          background: #1c2c4c;
          color: #00d8ff;
        }
        &.redux {
          background: #764abc;
          color: #ffffff;
        }
        &.figma {
          background: linear-gradient(
            90deg,
            #f24e1e 0%,
            #ff7262 20%,
            #a259ff 40%,
            #1abdff 60%,
            #0acf83 80%
          );
          color: #ffffff;
        }
      }
    }
    .app-project-article-created-date {
      align-self: flex-end;
      display: block;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .app-project-article {
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
}
