@import "../../app/color.scss";
.app-contact-form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 300px;
  width: 100%;
  background-color: white;
  color: $First-Color;
  box-shadow: 0 0 3px 0.1px;
  border-radius: 0.25em;

  .app-contact-form-field-container {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 0.5em;

    width: 100%;

    .app-contact-form-field-label {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    .app-contact-form-field-input {
      height: 30px;
      padding-left: 0.75em;
    }
    .app-contact-form-field-textarea {
      padding: 0.75em;
      min-height: 50px;
      letter-spacing: 1px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      max-height: 200px;
      line-height: 1.5;
    }
    .app-contact-form-field-textarea,
    .app-contact-form-field-input {
      border-radius: 0.3em;

      outline: none;
      border: none;

      box-shadow: 0 0 3px 0.1px;
      transition: box-shadow 0.5s;

      &:focus {
        box-shadow: 0 0 5px 2px #4a88c9;
      }
      &.notValidate {
        box-shadow: 0 0 5px 2px $Error-Color;
      }
      &.validate {
        box-shadow: 0 0 5px 2px $Valid-Color;
      }
    }
    .app-contact-form-field-error {
      color: $Error-Color;
      font-weight: bold;
      text-align: center;
    }
  }
  .app-contact-form-button-container {
    margin-top: 1em;
    width: 100%;
    .app-contact-form-button {
      background-color: $First-Color;
      color: $Second-Color;
      padding: 0.6em 1em;
      width: 100%;
      border: none;
      box-shadow: 0 0 4px 2px $Second-Color;
      border-radius: 0.35em;
      &:active {
        filter: contrast(0.9);
      }
    }
  }
}

@keyframes sendButton {
  from {
    background-color: $First-Color;
  }
  to {
  }
}
