@import "../components/contact/form.scss";
@import "../components/contact/modal.scss";

.app-contact-container {
  .app-contact-section {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
