@import "../components/home/introduction.scss";
@import "../components/home/preview-project.scss";
@import "../components/home/skills.scss";
@import "../components/home/hobby.scss";
@import "../components/home/resume.scss";

@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}

.app-home-main {
  .app-home-section {
    padding: 2em 0;
    box-shadow: 0px 0.5em 5px -0.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    .app-home-section-header {
      font-size: 1.5em;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 0.5em;
      margin-bottom: 3em;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 400px;
        height: 2px;
        opacity: 0.5;
        background-color: currentColor;
        bottom: -25px;
        left: calc(50% - 200px);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .app-home-section-title {
        margin: 0;
        font-size: 32px;
        text-align: center;
        font-style: italic;
        text-shadow: 1px 1px 2px;
        font-weight: normal;
      }
      .app-home-section-header-icon {
        height: 50px;
        &.hello-animation {
          height: 40px;
          animation: hello 2s;
        }
      }
    }

    &:nth-last-child(-n + 1) {
      box-shadow: 0 0 0 0;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .app-home-main {
    .app-home-section {
      .app-home-section-header {
        &::after {
          left: 0%;
        }
      }
    }
  }
}
