@import "../components/home/introduction.scss";

.app-home-main {
  .app-home-section {
    padding: 1em 0 1em 0;
    box-shadow: 0px 0.5em 5px -0.5em;
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    .app-home-section-header {
      font-size: 1.5em;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 2em 5px -2em;
      gap: 0.5em;
      margin-bottom: 5em;
      &::after {
        content: "";
        position: absolute;
        width: 150%;
        height: 2px;
        opacity: 0.5;
        background-color: currentColor;
        bottom: -10px;
        left: -25%;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .app-home-section-title {
        margin: 0;
        font-size: 32px;
        text-align: center;
        font-style: italic;
        text-shadow: 1px 1px 2px;
        font-weight: normal;
      }
      .app-home-section-header-icon {
        height: 50px;
      }
    }
    .app-home-project-section-container {
      position: relative;
      display: flex;
      gap: 5em;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .app-home-project-link-more {
      padding: 0.66em 1em;
      margin: auto auto;
      margin-top: 5em;
      align-self: center;
      max-width: 500px;
      min-width: 200px;
      border-radius: 2em;
      box-shadow: 0 0 5px 1px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &:nth-last-child(-n + 1) {
      box-shadow: 0 0 0 0;
      padding-bottom: 0;
    }
  }
}
