@import "color.scss";
@import "../components/loader.scss";

@font-face {
  font-family: Cormorant;
  src: url("../../../assets/fonts/Cormorant-Regular.otf");
}
.app-container {
  min-height: 100vh;
  font-family: Cormorant;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  .app-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    opacity: 0.5;
  }
  .app-main-container {
    z-index: 1;
    margin: 1em 2em;
  }
}
.night-mode {
  background-color: $First-Color;
  color: $Second-Color;
  transition: background-color, color 0.5s;
  path {
    fill: $Second-Color;
  }
  &::after {
    background-color: $Second-Color;
  }
}
.light-mode {
  background-color: $Second-Color;
  color: $First-Color;
  transition: background-color, color 0.5s;
  path {
    fill: $First-Color;
  }
  &::after {
    background-color: $First-Color;
  }
}
