.app-home-project-section-container {
  position: relative;
  display: flex;
  min-height: 200px;
  gap: 5em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app-home-project-link-more {
  padding: 0.66em 1em;
  margin: 4em auto;
  align-self: center;
  max-width: 500px;
  min-width: 200px;
  border-radius: 2em;
  box-shadow: 0 0 5px 1px;
  transition: transform 0.5s;
}
.app-home-project-link-more:hover {
  transform: scale(1.1);
}

.app-home-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1em;
  gap: 3em 5em;
}
.app-home-skills-container .app-home-skills-header {
  display: flex;
  justify-content: center;
  text-align: start;
  align-self: center;
  font-style: oblique;
  font-size: 30px;
}
.app-home-skills-container .app-home-skills-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
  gap: 2em 1em;
  min-width: 500px;
  width: auto;
  border-radius: 0.75em;
}
.app-home-skills-container .app-home-skills-list .app-home-skills-item {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 0.5em;
  width: auto;
  transition: transform 0.5s;
}
.app-home-skills-container .app-home-skills-list .app-home-skills-item:hover {
  transform: scale(1.1);
}
.app-home-skills-container .app-home-skills-list .app-home-skills-item .app-home-skills-logo {
  width: 60px;
  height: 50px;
}
.app-home-skills-container .app-home-skills-list .app-home-skills-item .app-home-skills-preview {
  opacity: 0.8;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .app-home-skills-container {
    flex-direction: column;
    justify-content: center;
  }
  .app-home-skills-container .app-home-skills-header {
    text-align: center;
  }
  .app-home-skills-container .app-home-skills-list {
    min-width: 200px;
    width: 100%;
  }
}
@keyframes btnClickAnim {
  0% {
    background-color: rgba(30, 30, 30, 0.75);
  }
  50% {
    background-color: rgba(75, 75, 75, 0.5);
  }
  100% {
    background-color: rgba(30, 30, 30, 0.75);
  }
}
.app-home-hobby-carousel-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0.5em;
  gap: 2em 3em;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-header {
  margin-bottom: 2em;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-header .app-home-hobby-caroussel-title {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-header .app-home-hobby-caroussel-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  opacity: 0.5;
  border-radius: 100%;
  box-shadow: 0 0 3px 1px currentColor;
  bottom: -0.5em;
  left: 0;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article {
  position: relative;
  max-width: 600px;
  width: 100%;
  border-radius: 0.25em;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider {
  height: 300px;
  position: relative;
  border-radius: 0.25em;
  box-shadow: 0 0 5px 0.1px currentColor;
  overflow: hidden;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider:hover .app-home-hobby-carousel-information {
  scale: 1.1;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 1em;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container .app-home-hobby-caroussel-button-icon {
  height: 40px;
  width: 40px;
  padding: 0.5em;
  background-color: rgba(30, 30, 30, 0.75);
  color: #dcdcdc;
  border-radius: 100%;
  transition: scale 1s;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container .app-home-hobby-caroussel-button-icon:hover {
  scale: 1.2;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container .app-home-hobby-caroussel-button-icon.isClicked {
  animation: btnClickAnim 0.5s ease-out;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container .app-home-hobby-caroussel-button-icon.previous {
  transform: rotate(90deg);
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-caroussel-button-container .app-home-hobby-caroussel-button-icon.next {
  transform: rotate(270deg);
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information {
  position: absolute;
  top: 0;
  transition: 0.75s opacity ease-in-out, 0.5s scale ease-in-out;
  width: 100%;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information.active {
  opacity: 1;
  z-index: 1;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information.inactive {
  opacity: 0;
  scale: 1.5;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-name {
  position: absolute;
  margin: 0;
  padding: 0.5em 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 0.25em;
  color: #dcdcdc;
  z-index: 1;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-picture-container {
  position: relative;
  height: 300px;
}
.app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-picture-container .app-home-hobby-caroussel-picture {
  object-fit: cover;
  width: 100%;
  height: 120%;
}

@media (max-width: 425px) {
  .app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider {
    height: 250px;
  }
  .app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-picture-container {
    height: 250px;
  }
}
@media (max-width: 375px) {
  .app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider {
    height: 200px;
  }
  .app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-name {
    padding: 0.5em 1em;
  }
  .app-home-hobby-carousel-container .app-home-hobby-caroussel-article .app-home-hobby-caroussel-slider .app-home-hobby-carousel-information .app-home-hobby-caroussel-picture-container {
    height: 200px;
  }
}
.app-resume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.app-resume-container .app-home-resume-download {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 3px 5px;
  box-shadow: 0 0 5px 1px currentColor;
  border-radius: 1em;
  transition: scale 0.5s;
}
.app-resume-container .app-home-resume-download:hover {
  scale: 1.1;
}
.app-resume-container .app-home-resume-download .app-home-resume-download-icon {
  padding: 0.2em;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 425px) {
  .app-resume-container {
    flex-direction: column;
  }
}
@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
.app-home-main .app-home-section {
  padding: 2em 0;
  box-shadow: 0px 0.5em 5px -0.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.app-home-main .app-home-section .app-home-section-header {
  font-size: 1.5em;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
  margin-bottom: 3em;
}
.app-home-main .app-home-section .app-home-section-header::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 2px;
  opacity: 0.5;
  background-color: currentColor;
  bottom: -25px;
  left: calc(50% - 200px);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.app-home-main .app-home-section .app-home-section-header .app-home-section-title {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 2px;
  font-weight: normal;
}
.app-home-main .app-home-section .app-home-section-header .app-home-section-header-icon {
  height: 50px;
}
.app-home-main .app-home-section .app-home-section-header .app-home-section-header-icon.hello-animation {
  height: 40px;
  animation: hello 2s;
}
.app-home-main .app-home-section:nth-last-child(-n+1) {
  box-shadow: 0 0 0 0;
  padding-bottom: 0;
}

@media screen and (max-width: 450px) {
  .app-home-main .app-home-section .app-home-section-header::after {
    left: 0%;
  }
}
