.app-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 100%;
  box-shadow: 0 0 5px 1px #1e1e1e;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-cursor .app-cursor-center {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: inherit;
}
.app-cursor .app-cursor-center.light {
  background-color: #1e1e1e;
}
.app-cursor .app-cursor-center.night {
  background-color: #dcdcdc;
}

@media screen and (max-width: 1024px) {
  .app-cursor {
    display: none;
  }
}
